/*Selector Universal*/
* {
    padding: 0;
    margin: 0;
    
}

/*Selector id*/
#contenedor {
    width: 1200px;
    height: 1370px;
    background-color: rgb(2, 2, 43);
    max-width: 1em auto;
}

#encabezado {
    height: 15%;
    background-color: lightskyblue;
    margin: 1em auto;
}

#menu {
    height: 5%;
    background-color: steelblue;
    margin: 1em auto;
}

#contenido {
    height: 70%;
    width: 61%;
    background-color: lightsteelblue;
    margin: 0.5em;
    float: left;

}

#fueraSeccion {
    height: 70%;
    width: 36%;
    background-color: midnightblue;
    margin: 0.5em;
    float: right;

}

#pie {
    height: 2%;
    background-color: lightskyblue;
    border-radius: 0em;
    margin: 0em;
    width: 1200px;
    color: white;
    text-align: center;

}
/*Selector de clase*/
.texto {
    text-align: justify;
    font-family: Tahoma;
    font-size: medium;
    margin-left: 1em;
    margin-right: 1em;
}

.encabezado_articulo {
    text-align: center;
    /*background: #333;*/
    color: white;
    margin: auto 2em;
    font-size: x-large;

}
.encabezado_principal{
    text-align: center;
    
    color: white;
    margin: auto 2em;
}

.imagenes {
    display: block;
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
    border-radius: 4px;
    padding: 1px;
    width: 250px;
    
    
}
/*Selector de etiqueta html*/

ul{
text-align: center;

}
li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    
}
